<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- Service -->
    <bean id="service" class="database.service.imp.FlightParametersServiceImp" >
        <property name="dao" ref="dao" />
    </bean>

    <!-- Data Access Object -->
    <bean id="dao" class="database.dao.imp.FlightParametersDAOImp" >
        <property name="factory" ref="sessionFactory"></property>
    </bean>


</beans>